.title-not-found{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title-search{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;

}
