:root {
    --fz: 16px;
    --search-size-mx-h: 3rem;
    --zIndex-header: 20;
    --zIndex-component: 5;
    --brand-color_1: #00ff99;
    --brand-color_2: #00ccff;
    --brand-color_3: #9933ff;
    --brand-color_4: tomato;
    --brand-color_5: #fff35c;
    --brand-color_6: #8429de;
    --l-gradient-1: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --brand-color-7:#121212;
    --brand-color-8:#2A2A2A;
    --brand-color-9: #133AC3;
    --brand-color-10:#2F3135;
    --font-color-1:#9A9A9A;
    --gradient-2:linear-gradient(to bottom, transparent 20%, black 100%, black 20%);;
  }